* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body {
    height: 100%;
}

body {
    font-family: sans-serif ;
    background-color: rgb(191, 195, 231);
    color: black;
}

.main {
    margin: 10px;
}


.nav {
    background: #2c3e50;
    padding: 0 2rem;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: flex-start; 
    background: #2c3e50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #3498db;
}

.about {
    background-color: white;
    padding: 10px;
    
}

.invite {
    color: rgb(34, 42, 109);
    padding: 10px;
}
.text1 {
    font-size: 12px;
    padding: 10px;
}

.text2 {
    font-size: 12px;
    padding: 10px;
}

.dir {
    
    background-color: white;
    padding: 10px; 
    margin: 10px;
}

.spisok {
    padding-left: 30px;
    font-size: 12px;
}

.table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 30px;
    font-size: 12px;
    
}

th, td {
    border: 1px solid #a0a6f3; 
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
    background-color: #a0a6f3;
}

.gall {
    background-color: white;
    border-radius: 3%;
    padding: 20px 15px;
    margin:  10px 0px 10px 0px;

    display: block;
    justify-content: space-evenly;
}

.photo-gall {
    color: black;
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;

}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.photo-text {
    padding: 15px;
}

.plan {
    background-color: white;
    border-radius: 3%;
    padding: 20px 15px;
    margin:  10px 0px 10px 0px;

    display: block;
    justify-content: space-evenly;
}

   
.radio-group {
    margin-bottom: 0px;
}

.group-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 1.1em;
}

.radio {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: flex-end; 
    align-items: center;
    margin-bottom: 0px;
    padding: 8px 0;
}

.radio input[type="radio"] {
    margin-right: 30px; 
}

.comment {
    margin-top: 30px;
}

.start {
    padding: 20px;
}

.form {
    color: black;
    font-size: 12px;
    height: 450px;
    display: grid;
    grid-template-rows: 20px 10px 10px 10px 60px 10px;
    gap: 60px;
    
}
        
.name {

    justify-content: left;
    gap: 10px;
    background-color: #2c3e50;
    color: white;     
}

#user_invite {
    font-size: 12px;
}

.cont {
    background-color: white;
    border-radius: 3%;
    padding: 20px 15px;
    margin:  10px 0px 10px 0px;

    display: block;
    justify-content: space-evenly;
}

.footer {
    background: #2c3e50;
    color: white;
    padding: 10px;
    font-size: 12px ;

    text-align: center;

}
